@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Verlag';
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/verlag-book-webfont.woff2') format('woff2'), url('/fonts/verlag-book-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Verlag';
        font-weight: normal;
        font-style: italic;
        font-display: swap;
        src: url('/fonts/verlag-bookitalic-webfont.woff2') format('woff2'), url('/fonts/verlag-bookitalic-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Verlag';
        font-weight: bold;
        font-display: swap;
        src: url('/fonts/verlag-bold-webfont.woff2') format('woff2'), url('/fonts/verlag-bold-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Verlag';
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/verlag-black-webfont.woff2') format('woff2'), url('/fonts/verlag-black-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Verlag';
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/verlag-light-webfont.woff2') format('woff2'), url('/fonts/verlag-light-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Verlag';
        font-weight: 100;
        font-display: swap;
        src: url('/fonts/verlag-xlight-webfont.woff2') format('woff2'), url('/fonts/verlag-xlight-webfont.woff') format('woff');
    }

    @keyframes PopIn {
        0% {
            opacity: 0;
            transform: scale(0.925);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .PopIn {
        animation: PopIn 0.6s ease-in forwards;
    }

    .char-wrap {
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .char,
    .word {
        display: inline-block;
        white-space: nowrap;
    }

    .about-gradient {
        background-image: linear-gradient(180deg,
                #30465a 0%,
                #152330 100%);
    }

    .clc-gradient {
        background-image: linear-gradient(180deg,
                rgb(71, 126, 120) 0%,
                rgb(63, 87, 102) 23%,
                rgb(70, 77, 103) 60%,
                rgb(81, 81, 112) 80%,
                rgb(87, 85, 117) 100%);
    }

    .helpdesk-gradient {
        background-image: linear-gradient(180deg,
                #243748 0%,
                #4b749f 100%);
    }

    .springboard-gradient {
        background-image: linear-gradient(180deg,
                #789041 0%,
                #3c4a32 21%,
                #49a09d 100%);
    }

    .venues-gradient {
        background-image: linear-gradient(180deg,
                #3b5139 0%,
                #3b5139 50%,
                #292720 100%);
    }

    .parabola-gradient {
        background-image: linear-gradient(180deg,
                #881000 0%,
                #000000 20%,
                #292720 100%);
    }

    .flourish-gradient {
        background-image: linear-gradient(180deg,
                #3E4981 0%,
                #3E4981 15%,
                #292720 100%);
    }


    .enrolment-gradient {
        background-image: linear-gradient(180deg,
                #AA076B 0%,
                #501659 15%,
                #61045F 100%);        
    }
 
    .enrichment-gradient {
        background-image: linear-gradient(180deg,
                #320f57 0%,
                #43415a 15%,
                #49415A 100%);
    }

    .delorean-gradient {
        background-image: linear-gradient(180deg,
                #960101 0%,
                #292720 10%,
                #292720 25%,
                #4A569D 100%);
    }

    .guild-gradient {
        background-image: linear-gradient(180deg,
                #60869D 0%,
                #60869D 20%,
                #4389A2 50%,
                #193039 100%);
    }

    .fitness-gradient {
        background-image: linear-gradient(180deg,
                #343435 0%,
                #2C668A 15%,
                #514A9D 100%);
    }

    .contractors-gradient {
        background-image: linear-gradient(180deg,
                #283048 0%,
                #283048 50%,
                #859398 100%);
    }

    .transfer-gradient {
        background-image: linear-gradient(180deg,
                #1D976C 0%,
                #48415A 42%,
                #859398 100%);
    }

    .appraisals-gradient {
        background-image: linear-gradient(180deg,
                #DAE2F8 0%,
                #292720 15%,
                #292720 100%);
    }

    .auctions-gradient {
        background-image: linear-gradient(180deg,
                #FF512F 0%,
                #93563c 45%,
                #F09819 100%);
    }

    .exams-gradient {
        background-image: linear-gradient(180deg,
                #CC95C0 0%,
                #49405C 40%,
                #7AA1D2 100%);
    }

    .pathways-gradient {
        background-image: linear-gradient(180deg,
                #6f967b 0%,
                #48574c 12%,
                #303732 100%);
    }

    .emergency-gradient {
        background-image: linear-gradient(180deg,
                #881000 0%,
                #49405C 36%,
                #56B4D3 100%);
    }

    .work-gradient {
        background-image: linear-gradient(180deg,
                #443e52 0%,
                #1e182b 100%);
    }

}